@{
    ViewData["Title"] = "Home Page";
}

@model List<TP6MVC.Models.PresupuestoDetalle>

<h2>Product List</h2>

<table class="table table-dark">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var detalles in Model)
        {
            <tr>
                <td>@detalles.Producto.Descripcion1</td>
                <td>@detalles.Cantidad1</td>
                <td>
                    <a asp-controller="Producto" asp-action="VerDetallesPresupuesto" asp-route-id="@detalles.Producto.Descripcion1">Ver Detalles</a>
                </td>
            </tr>
        }
    </tbody>
</table>