@{
    ViewData["Title"] = "Detalles del Presupuesto";
}

@model List<TP6MVC.Models.PresupuestoDetalle>

<h2>Detalles del presupuesto</h2>

<table class="table table-light">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var detalles in Model)
        {
            <tr>
                <td>@detalles.Producto.Descripcion1</td>
                <td>@detalles.Cantidad1</td>
                <td>
                    <a asp-controller="Presupuesto" asp-action="Eliminar" asp-route-id="@detalles.Producto.IdProducto" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
